.top-container{
    background-color: #E4F9F5;
    text-align: center;
    position: relative;
    padding-top: 100px;
}

.middle-container > .profile > img{
    width: 10%;
    height: 10%;
}

.profile{
    margin-top: 100px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.skill-row > img{
    width: 25%;
    height: 25%;
}

.dev{
    float: left;
    margin-right: 30px;
}

.swim{
    float: right;
    margin-left: 30px;
}

h1{
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: lightgray;
    border-width: 12px;
    width: 5%;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
}

.top-container > h1, .top-container > h2{
    color: #66BFBF;
}

.top-container > h1{
    line-height: 2;
}

.top-container > h2{
    font-weight: normal;
}

.bottom-container > a{
    color: #11999E;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

.bottom-cloud{
    position: absolute;
    left: 600px;
    bottom: 300px;
}

.top-cloud{
    position: absolute;
    right: 600px;
    top: 50px;
}

.bottom-container{
    margin-top: 100px;
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.bottom-container > a{
    text-decoration: none;
    margin-top: 30px;
}

.bottom-container > p{
    color: #EAF6F6;
}


body{
    margin: 0px;
    font-family: 'Merriweather', serif;
    text-align: center;
}